/* Common styles */
body {
    font-family: Raleway, Roboto, sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.hero {
    background-color: #2e2f42;
}


/* 
|---------------------------
|Header styles
|---------------------------
 */
 .header {}

 .header-nav {}

 .logo {}

 .web {}
 
 .studio-header {}

 .header-list {}

 .header-link {}

 .header-contacts {}

 .header-mail {}

 .header-tel {}


 /* 
|---------------------------
|Hero styles
|---------------------------
 */
 .hero {}

 .hero-title {}

 .hero-btn {}

 
